In [1]:
import pandas as pd

df = pd.read_csv("MYR_USD Historical Data.csv")
df.head()

           Date   Price    Open    High     Low Change %
0  Oct 14, 2021  0.2408  0.2410  0.2410  0.2408    0.19%
1  Oct 13, 2021  0.2404  0.2400  0.2405  0.2400    0.19%
2  Oct 12, 2021  0.2399  0.2397  0.2402  0.2393    0.10%
3  Oct 11, 2021  0.2397  0.2392  0.2401  0.2392    0.19%
4  Oct 10, 2021  0.2392  0.2392  0.2392  0.2392   -0.02%

In [2]:
df.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Change %     object
dtype: object

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df.columns= df.columns.str.lower()

df.head()

        date   price    open    high     low change %
0 2021-10-14  0.2408  0.2410  0.2410  0.2408    0.19%
1 2021-10-13  0.2404  0.2400  0.2405  0.2400    0.19%
2 2021-10-12  0.2399  0.2397  0.2402  0.2393    0.10%
3 2021-10-11  0.2397  0.2392  0.2401  0.2392    0.19%
4 2021-10-10  0.2392  0.2392  0.2392  0.2392   -0.02%

In [4]:
df.to_csv("myr_usd.csv", index=False)