In [1]:
import pandas as pd

df = pd.read_csv("MYR_USD Historical Data.csv")
df.head()

           Date   Price    Open    High     Low Change %
0  Dec 09, 2021  0.2372  0.2371  0.2373  0.2371    0.09%
1  Dec 08, 2021  0.2369  0.2367  0.2372  0.2360    0.32%
2  Dec 07, 2021  0.2362  0.2363  0.2366  0.2360    0.00%
3  Dec 06, 2021  0.2362  0.2364  0.2368  0.2362   -0.07%
4  Dec 03, 2021  0.2363  0.2361  0.2369  0.2360    0.03%

In [2]:
df.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Change %     object
dtype: object

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df.columns= df.columns.str.lower()

df.head()

        date   price    open    high     low change %
0 2021-12-09  0.2372  0.2371  0.2373  0.2371    0.09%
1 2021-12-08  0.2369  0.2367  0.2372  0.2360    0.32%
2 2021-12-07  0.2362  0.2363  0.2366  0.2360    0.00%
3 2021-12-06  0.2362  0.2364  0.2368  0.2362   -0.07%
4 2021-12-03  0.2363  0.2361  0.2369  0.2360    0.03%

In [4]:
df.to_csv("myr_usd.csv", index=False)