# Import datasets taken from MOH

In [1]:
import pandas as pd

In [2]:
cases_df = pd.read_csv("cases_state.csv")
cases_df.head()

,date,state,cases_new,cases_import,cases_recovered,cases_active,cases_cluster,cases_pvax,cases_fvax,cases_child,cases_adolescent,cases_adult,cases_elderly
0,2020-01-25,Johor,4,4,0,4,0.0,0.0,0.0,0.0,0.0,1.0,0.0
1,2020-01-25,Kedah,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2020-01-25,Kelantan,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2020-01-25,Melaka,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2020-01-25,Negeri Sembilan,0,0,0,0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [3]:
deaths_df = pd.read_csv("deaths_state.csv")
deaths_df.head()

,date,state,deaths_new,deaths_bid,deaths_new_dod,deaths_bid_dod,deaths_pvax,deaths_fvax,deaths_tat
0,2020-03-17,Johor,1,0,1,0,0,0,0
1,2020-03-17,Kedah,0,0,0,0,0,0,0
2,2020-03-17,Kelantan,0,0,0,0,0,0,0
3,2020-03-17,Melaka,0,0,0,0,0,0,0
4,2020-03-17,Negeri Sembilan,0,0,0,0,0,0,0

In [4]:
beds_df = pd.read_csv("hospital.csv")
beds_df.head()

,date,state,beds,beds_covid,beds_noncrit,admitted_pui,admitted_covid,admitted_total,discharged_pui,discharged_covid,discharged_total,hosp_covid,hosp_pui,hosp_noncovid
0,2020-03-24,Johor,1440,434,1408,0,0,0,0,0,0,18,9,1
1,2020-03-24,Kedah,1218,143,1183,0,0,0,0,0,0,46,5,12
2,2020-03-24,Kelantan,1463,280,1424,9,6,15,1,0,1,78,58,23
3,2020-03-24,Melaka,1091,82,1065,0,0,0,0,0,0,19,10,12
4,2020-03-24,Negeri Sembilan,1223,253,1205,0,0,0,0,0,0,90,13,8

In [5]:
icu_df = pd.read_csv("icu.csv")
icu_df.head()

,date,state,beds_icu,beds_icu_rep,beds_icu_total,beds_icu_covid,vent,vent_port,icu_covid,icu_pui,icu_noncovid,vent_covid,vent_pui,vent_noncovid,vent_used,vent_port_used
0,2020-03-24,Johor,10,22,32,10,11,2,0,0,1,0,0,0,8,0
1,2020-03-24,Kedah,35,0,35,16,34,0,2,1,12,1,1,0,19,0
2,2020-03-24,Kelantan,39,0,39,20,42,4,1,0,20,1,0,0,26,0
3,2020-03-24,Melaka,26,0,26,12,23,4,0,2,12,0,1,0,13,5
4,2020-03-24,Negeri Sembilan,18,0,18,10,14,9,0,0,8,0,0,0,1,6

Drop extra columns and convert date to datetime

In [6]:
cases_df = cases_df.loc[:, cases_df.columns.intersection(['date','state', 'cases_new'])]
cases_df['date'] = pd.to_datetime(cases_df['date'])
cases_df.head()

        date            state  cases_new
0 2020-01-25            Johor          4
1 2020-01-25            Kedah          0
2 2020-01-25         Kelantan          0
3 2020-01-25           Melaka          0
4 2020-01-25  Negeri Sembilan          0

In [7]:
deaths_df = deaths_df.loc[:, deaths_df.columns.intersection(['date','state', 'deaths_new'])]
deaths_df['date'] = pd.to_datetime(deaths_df['date'])
deaths_df.head()

        date            state  deaths_new
0 2020-03-17            Johor           1
1 2020-03-17            Kedah           0
2 2020-03-17         Kelantan           0
3 2020-03-17           Melaka           0
4 2020-03-17  Negeri Sembilan           0

In [8]:
beds_df = pd.merge(beds_df, icu_df, on=['date','state'])
beds_df = beds_df.loc[:, beds_df.columns.intersection(['date','state', 'beds', 'beds_covid', 'beds_icu_covid'])]
beds_df['date'] = pd.to_datetime(beds_df['date'])
beds_df.head()

        date            state  beds  beds_covid  beds_icu_covid
0 2020-03-24            Johor  1440         434              10
1 2020-03-24            Kedah  1218         143              16
2 2020-03-24         Kelantan  1463         280              20
3 2020-03-24           Melaka  1091          82              12
4 2020-03-24  Negeri Sembilan  1223         253              10

# Combine datasets

In [9]:
from datetime import date, timedelta, datetime
# format: y/m/d
sdate = date(2020,1,1)
edate = date(2021,10,13)

states = list(cases_df['state'].unique())

new_df=pd.DataFrame(columns=['date','state', 'cases_new', 'deaths_new', 'beds', 'beds_covid', 'beds_icu_covid'])
row_count = 0
for date in pd.date_range(sdate,edate-timedelta(days=1),freq='d'):
    for state in states:
        row_count += 1
        new_df.loc[row_count, 'date'] = datetime.strftime(date, '%Y-%m-%d')
        new_df.loc[row_count, 'state'] = state
# new_df['date'] = pd.date_range(sdate,edate-timedelta(days=1),freq='d')
new_df.head(20)

,date,state,cases_new,deaths_new,beds,beds_covid,beds_icu_covid
1,2020-01-01,Johor,NaN,NaN,NaN,NaN,NaN
2,2020-01-01,Kedah,NaN,NaN,NaN,NaN,NaN
3,2020-01-01,Kelantan,NaN,NaN,NaN,NaN,NaN
4,2020-01-01,Melaka,NaN,NaN,NaN,NaN,NaN
5,2020-01-01,Negeri Sembilan,NaN,NaN,NaN,NaN,NaN
6,2020-01-01,Pahang,NaN,NaN,NaN,NaN,NaN
7,2020-01-01,Perak,NaN,NaN,NaN,NaN,NaN
8,2020-01-01,Perlis,NaN,NaN,NaN,NaN,NaN
9,2020-01-01,Pulau Pinang,NaN,NaN,NaN,NaN,NaN
10,2020-01-01,Sabah,NaN,NaN,NaN,NaN,NaN
11,2020-01-01,Sarawak,NaN,NaN,NaN,NaN,NaN
12,2020-01-01,Selangor,NaN,NaN,NaN,NaN,NaN
13,2020-01-01,Terengganu,NaN,NaN,NaN,NaN,NaN
14,2020-01-01,W.P. Kuala Lumpur,NaN,NaN,NaN,NaN,NaN
15,2020-01-01,W.P. Labuan,NaN,NaN,NaN,NaN,NaN
16,2020-01-01,W.P. Putrajaya,NaN,NaN,NaN,NaN,NaN
17,2020-01-02,Johor,NaN,NaN,NaN,NaN,NaN
18,2020-01-02,Kedah,NaN,NaN,NaN,NaN,NaN
19,2020-01-02,Kelantan,NaN,NaN,NaN,NaN,NaN
20,2020-01-02,Melaka,NaN,NaN,NaN,NaN,NaN

Take data from old datasets into new datasets.

In [10]:
import datetime
def transpose(new_df, old_df, cols):
    for index, row in new_df.iterrows():
        current_date = new_df.loc[index, 'date']
        current_state = new_df.loc[index, 'state']
        for index1, row1 in old_df.loc[old_df['date'] == current_date].iterrows():
            state = old_df.loc[index1, 'state']
            if current_state == state:
                for col in cols:
                    new_df.loc[index, col] = old_df.loc[index1, col]

transpose(new_df, cases_df, ['cases_new'])
new_df.tail(20)

,date,state,cases_new,deaths_new,beds,beds_covid,beds_icu_covid
10397,2021-10-11,Terengganu,480,NaN,NaN,NaN,NaN
10398,2021-10-11,W.P. Kuala Lumpur,220,NaN,NaN,NaN,NaN
10399,2021-10-11,W.P. Labuan,0,NaN,NaN,NaN,NaN
10400,2021-10-11,W.P. Putrajaya,36,NaN,NaN,NaN,NaN
10401,2021-10-12,Johor,665,NaN,NaN,NaN,NaN
10402,2021-10-12,Kedah,517,NaN,NaN,NaN,NaN
10403,2021-10-12,Kelantan,1028,NaN,NaN,NaN,NaN
10404,2021-10-12,Melaka,195,NaN,NaN,NaN,NaN
10405,2021-10-12,Negeri Sembilan,138,NaN,NaN,NaN,NaN
10406,2021-10-12,Pahang,384,NaN,NaN,NaN,NaN
10407,2021-10-12,Perak,336,NaN,NaN,NaN,NaN
10408,2021-10-12,Perlis,57,NaN,NaN,NaN,NaN
10409,2021-10-12,Pulau Pinang,406,NaN,NaN,NaN,NaN
10410,2021-10-12,Sabah,707,NaN,NaN,NaN,NaN
10411,2021-10-12,Sarawak,834,NaN,NaN,NaN,NaN
10412,2021-10-12,Selangor,1302,NaN,NaN,NaN,NaN
10413,2021-10-12,Terengganu,420,NaN,NaN,NaN,NaN
10414,2021-10-12,W.P. Kuala Lumpur,253,NaN,NaN,NaN,NaN
10415,2021-10-12,W.P. Labuan,2,NaN,NaN,NaN,NaN
10416,2021-10-12,W.P. Putrajaya,32,NaN,NaN,NaN,NaN

In [11]:
transpose(new_df, deaths_df, ['deaths_new'])
new_df.tail(20)

,date,state,cases_new,deaths_new,beds,beds_covid,beds_icu_covid
10397,2021-10-11,Terengganu,480,1,NaN,NaN,NaN
10398,2021-10-11,W.P. Kuala Lumpur,220,7,NaN,NaN,NaN
10399,2021-10-11,W.P. Labuan,0,0,NaN,NaN,NaN
10400,2021-10-11,W.P. Putrajaya,36,0,NaN,NaN,NaN
10401,2021-10-12,Johor,665,15,NaN,NaN,NaN
10402,2021-10-12,Kedah,517,6,NaN,NaN,NaN
10403,2021-10-12,Kelantan,1028,11,NaN,NaN,NaN
10404,2021-10-12,Melaka,195,0,NaN,NaN,NaN
10405,2021-10-12,Negeri Sembilan,138,1,NaN,NaN,NaN
10406,2021-10-12,Pahang,384,0,NaN,NaN,NaN
10407,2021-10-12,Perak,336,9,NaN,NaN,NaN
10408,2021-10-12,Perlis,57,1,NaN,NaN,NaN
10409,2021-10-12,Pulau Pinang,406,7,NaN,NaN,NaN
10410,2021-10-12,Sabah,707,13,NaN,NaN,NaN
10411,2021-10-12,Sarawak,834,26,NaN,NaN,NaN
10412,2021-10-12,Selangor,1302,13,NaN,NaN,NaN
10413,2021-10-12,Terengganu,420,0,NaN,NaN,NaN
10414,2021-10-12,W.P. Kuala Lumpur,253,1,NaN,NaN,NaN
10415,2021-10-12,W.P. Labuan,2,0,NaN,NaN,NaN
10416,2021-10-12,W.P. Putrajaya,32,0,NaN,NaN,NaN

In [12]:
transpose(new_df, beds_df, ['beds', 'beds_covid', 'beds_icu_covid'])
new_df.tail(20)

,date,state,cases_new,deaths_new,beds,beds_covid,beds_icu_covid
10397,2021-10-11,Terengganu,480,1,1557,491,38
10398,2021-10-11,W.P. Kuala Lumpur,220,7,3963,675,43
10399,2021-10-11,W.P. Labuan,0,0,122,106,18
10400,2021-10-11,W.P. Putrajaya,36,0,609,84,6
10401,2021-10-12,Johor,665,15,5160,2753,102
10402,2021-10-12,Kedah,517,6,2664,1259,120
10403,2021-10-12,Kelantan,1028,11,2815,919,85
10404,2021-10-12,Melaka,195,0,1317,651,38
10405,2021-10-12,Negeri Sembilan,138,1,1749,1084,88
10406,2021-10-12,Pahang,384,0,2066,709,81
10407,2021-10-12,Perak,336,9,3277,997,109
10408,2021-10-12,Perlis,57,1,487,241,11
10409,2021-10-12,Pulau Pinang,406,7,1985,710,93
10410,2021-10-12,Sabah,707,13,4109,1797,227
10411,2021-10-12,Sarawak,834,26,4055,1377,142
10412,2021-10-12,Selangor,1302,13,5902,1945,179
10413,2021-10-12,Terengganu,420,0,1557,491,38
10414,2021-10-12,W.P. Kuala Lumpur,253,1,3963,675,43
10415,2021-10-12,W.P. Labuan,2,0,122,106,18
10416,2021-10-12,W.P. Putrajaya,32,0,609,84,6

In [13]:
new_df.dtypes

date              object
state             object
cases_new         object
deaths_new        object
beds              object
beds_covid        object
beds_icu_covid    object
dtype: object

In [14]:
new_df[["cases_new", "deaths_new", "beds", "beds_covid", "beds_icu_covid"]] = new_df[["cases_new", "deaths_new", "beds", "beds_covid", "beds_icu_covid"]].apply(pd.to_numeric)
new_df.dtypes

date               object
state              object
cases_new         float64
deaths_new        float64
beds              float64
beds_covid        float64
beds_icu_covid    float64
dtype: object

In [15]:
new_df=new_df.sort_values(['date']).reset_index(drop=True)
new_df["cum_cases"]=new_df.groupby(['state'])['cases_new'].cumsum(axis=0)
new_df["cum_deaths"]=new_df.groupby(['state'])['deaths_new'].cumsum(axis=0)
new_df.sort_values(['date', 'state'])
new_df.tail(20)

,date,state,cases_new,deaths_new,beds,beds_covid,beds_icu_covid,cum_cases,cum_deaths
10396,2021-10-11,Kelantan,938.0,5.0,2815.0,951.0,85.0,126380.0,907.0
10397,2021-10-11,Kedah,357.0,5.0,2664.0,1259.0,120.0,140825.0,1906.0
10398,2021-10-11,Johor,777.0,8.0,5160.0,2753.0,102.0,206146.0,3440.0
10399,2021-10-11,Perlis,29.0,2.0,487.0,241.0,11.0,4659.0,90.0
10400,2021-10-12,W.P. Kuala Lumpur,253.0,1.0,3963.0,675.0,43.0,188776.0,2522.0
10401,2021-10-12,Terengganu,420.0,0.0,1557.0,491.0,38.0,63024.0,408.0
10402,2021-10-12,Selangor,1302.0,13.0,5902.0,1945.0,179.0,692305.0,9494.0
10403,2021-10-12,Sarawak,834.0,26.0,4055.0,1377.0,142.0,226510.0,1025.0
10404,2021-10-12,Sabah,707.0,13.0,4109.0,1797.0,227.0,206755.0,2363.0
10405,2021-10-12,Pulau Pinang,406.0,7.0,1985.0,710.0,93.0,137726.0,1494.0
10406,2021-10-12,Perlis,57.0,1.0,487.0,241.0,11.0,4716.0,91.0
10407,2021-10-12,Melaka,195.0,0.0,1317.0,651.0,38.0,61189.0,871.0
10408,2021-10-12,Pahang,384.0,0.0,2066.0,709.0,81.0,71261.0,616.0
10409,2021-10-12,Negeri Sembilan,138.0,1.0,1749.0,1084.0,88.0,99382.0,1207.0
10410,2021-10-12,Kelantan,1028.0,11.0,2815.0,919.0,85.0,127408.0,918.0
10411,2021-10-12,Kedah,517.0,6.0,2664.0,1259.0,120.0,141342.0,1912.0
10412,2021-10-12,Johor,665.0,15.0,5160.0,2753.0,102.0,206811.0,3455.0
10413,2021-10-12,W.P. Labuan,2.0,0.0,122.0,106.0,18.0,9989.0,149.0
10414,2021-10-12,Perak,336.0,9.0,3277.0,997.0,109.0,109869.0,978.0
10415,2021-10-12,W.P. Putrajaya,32.0,0.0,609.0,84.0,6.0,6516.0,22.0

In [16]:
new_df['state'] = new_df['state'].replace(['Pulau Pinang'],'Penang')
new_df['state'] = new_df['state'].replace(['W.P. Kuala Lumpur'],'Kuala Lumpur')
new_df['state'] = new_df['state'].replace(['W.P. Labuan'],'Labuan')
new_df['state'] = new_df['state'].replace(['W.P. Putrajaya'],'Putrajaya')
new_df['state'] = new_df['state'].replace(['Melaka'],'Malacca')
new_df.tail(20)

,date,state,cases_new,deaths_new,beds,beds_covid,beds_icu_covid,cum_cases,cum_deaths
10396,2021-10-11,Kelantan,938.0,5.0,2815.0,951.0,85.0,126380.0,907.0
10397,2021-10-11,Kedah,357.0,5.0,2664.0,1259.0,120.0,140825.0,1906.0
10398,2021-10-11,Johor,777.0,8.0,5160.0,2753.0,102.0,206146.0,3440.0
10399,2021-10-11,Perlis,29.0,2.0,487.0,241.0,11.0,4659.0,90.0
10400,2021-10-12,Kuala Lumpur,253.0,1.0,3963.0,675.0,43.0,188776.0,2522.0
10401,2021-10-12,Terengganu,420.0,0.0,1557.0,491.0,38.0,63024.0,408.0
10402,2021-10-12,Selangor,1302.0,13.0,5902.0,1945.0,179.0,692305.0,9494.0
10403,2021-10-12,Sarawak,834.0,26.0,4055.0,1377.0,142.0,226510.0,1025.0
10404,2021-10-12,Sabah,707.0,13.0,4109.0,1797.0,227.0,206755.0,2363.0
10405,2021-10-12,Penang,406.0,7.0,1985.0,710.0,93.0,137726.0,1494.0
10406,2021-10-12,Perlis,57.0,1.0,487.0,241.0,11.0,4716.0,91.0
10407,2021-10-12,Malacca,195.0,0.0,1317.0,651.0,38.0,61189.0,871.0
10408,2021-10-12,Pahang,384.0,0.0,2066.0,709.0,81.0,71261.0,616.0
10409,2021-10-12,Negeri Sembilan,138.0,1.0,1749.0,1084.0,88.0,99382.0,1207.0
10410,2021-10-12,Kelantan,1028.0,11.0,2815.0,919.0,85.0,127408.0,918.0
10411,2021-10-12,Kedah,517.0,6.0,2664.0,1259.0,120.0,141342.0,1912.0
10412,2021-10-12,Johor,665.0,15.0,5160.0,2753.0,102.0,206811.0,3455.0
10413,2021-10-12,Labuan,2.0,0.0,122.0,106.0,18.0,9989.0,149.0
10414,2021-10-12,Perak,336.0,9.0,3277.0,997.0,109.0,109869.0,978.0
10415,2021-10-12,Putrajaya,32.0,0.0,609.0,84.0,6.0,6516.0,22.0

In [17]:
new_df.to_csv("daily.csv", index=False)