My Chrome extension, which extracts webpage data ethically, created a json file that contains a list of urls to each state's Wikipedia page. I then import it.

In [1]:
import json

with open('wikipedia_states_urls.json') as f:
    urls = json.load(f)[0]['items']

print(urls)

[{'name': 'Johor', 'url': '/wiki/Johor'}, {'name': 'Kedah', 'url': '/wiki/Kedah'}, {'name': 'Kelantan', 'url': '/wiki/Kelantan'}, {'name': 'Malacca', 'url': '/wiki/Malacca'}, {'name': 'Negeri Sembilan', 'url': '/wiki/Negeri_Sembilan'}, {'name': 'Pahang', 'url': '/wiki/Pahang'}, {'name': 'Perak', 'url': '/wiki/Perak'}, {'name': 'Perlis', 'url': '/wiki/Perlis'}, {'name': 'Penang', 'url': '/wiki/Penang'}, {'name': 'Selangor', 'url': '/wiki/Selangor'}, {'name': 'Terengganu', 'url': '/wiki/Terengganu'}, {'name': 'Sabah', 'url': '/wiki/Sabah'}, {'name': 'Sarawak', 'url': '/wiki/Sarawak'}, {'name': 'Kuala Lumpur', 'url': '/wiki/Kuala_Lumpur'}, {'name': 'Labuan', 'url': '/wiki/Labuan'}, {'name': 'Putrajaya', 'url': '/wiki/Putrajaya'}]

With requests and bs4, every 5 seconds, I visit each page and obtain the coordinates.

In [2]:
import requests
from bs4 import BeautifulSoup
import time
import re

for url in urls:
    time.sleep(5)
    page = requests.get('https://en.wikipedia.org/' + url['url'])
    soup = BeautifulSoup(page.content, 'html.parser')
    url['geo'] = soup.find('span', {'class' :'geo'}).text
    ths = soup.find_all("th", {'class' :'infobox-header'})
    for th in ths:
        if "Population" in th.text:
            url['pop'] = th.parent.findNext('tr').findChildren("td" , recursive=False)[0].text
    print(url)

{'name': 'Johor', 'url': '/wiki/Johor', 'geo': '1.99083; 103.48278', 'pop': '3,700,000 (3rd)'}
{'name': 'Kedah', 'url': '/wiki/Kedah', 'geo': '6.12833; 100.36278', 'pop': '2,071,900'}
{'name': 'Kelantan', 'url': '/wiki/Kelantan', 'geo': '5.250; 102.000', 'pop': '2,001,000'}
{'name': 'Malacca', 'url': '/wiki/Malacca', 'geo': '2.200; 102.250', 'pop': '932,700'}
{'name': 'Negeri Sembilan', 'url': '/wiki/Negeri_Sembilan', 'geo': '2.750; 102.250', 'pop': '1,098,500'}
{'name': 'Pahang', 'url': '/wiki/Pahang', 'geo': '3.750; 102.500', 'pop': '1,623,200'}
{'name': 'Perak', 'url': '/wiki/Perak', 'geo': '4.750; 101.000', 'pop': '2,500,000 (5th)'}
{'name': 'Perlis', 'url': '/wiki/Perlis', 'geo': '6.500; 100.250', 'pop': '254,400'}
{'name': 'Penang', 'url': '/wiki/Penang', 'geo': '5.40250; 100.36500', 'pop': '1.783 million (as at end of year 2,020)'}
{'name': 'Selangor', 'url': '/wiki/Selangor', 'geo': '3.333; 101.500', 'pop': '6,448,400 (1st)'}
{'name': 'Terengganu', 'url': '/wiki/Terengganu', 'geo': '4.750; 103.000', 'pop': '1,210,500[1](10th)'}
{'name': 'Sabah', 'url': '/wiki/Sabah', 'geo': '5.250; 117.000', 'pop': ' 3,900,000 (2nd)'}
{'name': 'Sarawak', 'url': '/wiki/Sarawak', 'geo': '2.800; 113.883', 'pop': ' 2,907,500 (4th)'}
{'name': 'Kuala Lumpur', 'url': '/wiki/Kuala_Lumpur', 'geo': '3.14778; 101.69528', 'pop': '1,790,000'}
{'name': 'Labuan', 'url': '/wiki/Labuan', 'geo': '5.30000; 115.22000', 'pop': '99,500'}
{'name': 'Putrajaya', 'url': '/wiki/Putrajaya', 'geo': '2.93000; 101.69000', 'pop': '91,900'}

# Data cleaning

In [3]:
import pandas as pd

df = pd.DataFrame(urls)
df

,name,url,geo,pop
0,Johor,/wiki/Johor,1.99083; 103.48278,"3,700,000 (3rd)"
1,Kedah,/wiki/Kedah,6.12833; 100.36278,"2,071,900"
2,Kelantan,/wiki/Kelantan,5.250; 102.000,"2,001,000"
3,Malacca,/wiki/Malacca,2.200; 102.250,"932,700"
4,Negeri Sembilan,/wiki/Negeri_Sembilan,2.750; 102.250,"1,098,500"
5,Pahang,/wiki/Pahang,3.750; 102.500,"1,623,200"
6,Perak,/wiki/Perak,4.750; 101.000,"2,500,000 (5th)"
7,Perlis,/wiki/Perlis,6.500; 100.250,"254,400"
8,Penang,/wiki/Penang,5.40250; 100.36500,"1.783 million (as at end of year 2,020)"
9,Selangor,/wiki/Selangor,3.333; 101.500,"6,448,400 (1st)"
10,Terengganu,/wiki/Terengganu,4.750; 103.000,"1,210,500[1](10th)"
11,Sabah,/wiki/Sabah,5.250; 117.000,"3,900,000 (2nd)"
12,Sarawak,/wiki/Sarawak,2.800; 113.883,"2,907,500 (4th)"
13,Kuala Lumpur,/wiki/Kuala_Lumpur,3.14778; 101.69528,"1,790,000"
14,Labuan,/wiki/Labuan,5.30000; 115.22000,"99,500"
15,Putrajaya,/wiki/Putrajaya,2.93000; 101.69000,"91,900"

In [4]:
df.loc[8,'pop'] = '1,783,000'
df

,name,url,geo,pop
0,Johor,/wiki/Johor,1.99083; 103.48278,"3,700,000 (3rd)"
1,Kedah,/wiki/Kedah,6.12833; 100.36278,"2,071,900"
2,Kelantan,/wiki/Kelantan,5.250; 102.000,"2,001,000"
3,Malacca,/wiki/Malacca,2.200; 102.250,"932,700"
4,Negeri Sembilan,/wiki/Negeri_Sembilan,2.750; 102.250,"1,098,500"
5,Pahang,/wiki/Pahang,3.750; 102.500,"1,623,200"
6,Perak,/wiki/Perak,4.750; 101.000,"2,500,000 (5th)"
7,Perlis,/wiki/Perlis,6.500; 100.250,"254,400"
8,Penang,/wiki/Penang,5.40250; 100.36500,"1,783,000"
9,Selangor,/wiki/Selangor,3.333; 101.500,"6,448,400 (1st)"
10,Terengganu,/wiki/Terengganu,4.750; 103.000,"1,210,500[1](10th)"
11,Sabah,/wiki/Sabah,5.250; 117.000,"3,900,000 (2nd)"
12,Sarawak,/wiki/Sarawak,2.800; 113.883,"2,907,500 (4th)"
13,Kuala Lumpur,/wiki/Kuala_Lumpur,3.14778; 101.69528,"1,790,000"
14,Labuan,/wiki/Labuan,5.30000; 115.22000,"99,500"
15,Putrajaya,/wiki/Putrajaya,2.93000; 101.69000,"91,900"

In [5]:
df['pop'] = df['pop'].apply(lambda x: x.replace(',', ''))
df

,name,url,geo,pop
0,Johor,/wiki/Johor,1.99083; 103.48278,3700000 (3rd)
1,Kedah,/wiki/Kedah,6.12833; 100.36278,2071900
2,Kelantan,/wiki/Kelantan,5.250; 102.000,2001000
3,Malacca,/wiki/Malacca,2.200; 102.250,932700
4,Negeri Sembilan,/wiki/Negeri_Sembilan,2.750; 102.250,1098500
5,Pahang,/wiki/Pahang,3.750; 102.500,1623200
6,Perak,/wiki/Perak,4.750; 101.000,2500000 (5th)
7,Perlis,/wiki/Perlis,6.500; 100.250,254400
8,Penang,/wiki/Penang,5.40250; 100.36500,1783000
9,Selangor,/wiki/Selangor,3.333; 101.500,6448400 (1st)
10,Terengganu,/wiki/Terengganu,4.750; 103.000,1210500[1](10th)
11,Sabah,/wiki/Sabah,5.250; 117.000,3900000 (2nd)
12,Sarawak,/wiki/Sarawak,2.800; 113.883,2907500 (4th)
13,Kuala Lumpur,/wiki/Kuala_Lumpur,3.14778; 101.69528,1790000
14,Labuan,/wiki/Labuan,5.30000; 115.22000,99500
15,Putrajaya,/wiki/Putrajaya,2.93000; 101.69000,91900

In [6]:
import re

df['pop'] = df['pop'].apply(lambda x: int(re.findall(r"[0-9]+", x)[0]))
df

               name                    url                 geo      pop
0             Johor            /wiki/Johor  1.99083; 103.48278  3700000
1             Kedah            /wiki/Kedah  6.12833; 100.36278  2071900
2          Kelantan         /wiki/Kelantan      5.250; 102.000  2001000
3           Malacca          /wiki/Malacca      2.200; 102.250   932700
4   Negeri Sembilan  /wiki/Negeri_Sembilan      2.750; 102.250  1098500
5            Pahang           /wiki/Pahang      3.750; 102.500  1623200
6             Perak            /wiki/Perak      4.750; 101.000  2500000
7            Perlis           /wiki/Perlis      6.500; 100.250   254400
8            Penang           /wiki/Penang  5.40250; 100.36500  1783000
9          Selangor         /wiki/Selangor      3.333; 101.500  6448400
10       Terengganu       /wiki/Terengganu      4.750; 103.000  1210500
11            Sabah            /wiki/Sabah      5.250; 117.000  3900000
12          Sarawak          /wiki/Sarawak      2.800; 113.883  2907500
13     Kuala Lumpur     /wiki/Kuala_Lumpur  3.14778; 101.69528  1790000
14           Labuan           /wiki/Labuan  5.30000; 115.22000    99500
15        Putrajaya        /wiki/Putrajaya  2.93000; 101.69000    91900

In [7]:
df[['latitude', 'longitude']] = df['geo'].str.split('; ', 1, expand=True)
df = df.drop(['geo', 'url'], axis=1)
df.head()

              name      pop latitude  longitude
0            Johor  3700000  1.99083  103.48278
1            Kedah  2071900  6.12833  100.36278
2         Kelantan  2001000    5.250    102.000
3          Malacca   932700    2.200    102.250
4  Negeri Sembilan  1098500    2.750    102.250

Save cleaned data to csv

In [8]:
df.to_csv('states.csv', index=False)