In [1]:
import json

with open('wikipedia_states_urls.json') as f:
    urls = json.load(f)[0]['items']

print(urls)

[{'name': 'Johor', 'url': '/wiki/Johor'}, {'name': 'Kedah', 'url': '/wiki/Kedah'}, {'name': 'Kelantan', 'url': '/wiki/Kelantan'}, {'name': 'Malacca', 'url': '/wiki/Malacca'}, {'name': 'Negeri Sembilan', 'url': '/wiki/Negeri_Sembilan'}, {'name': 'Pahang', 'url': '/wiki/Pahang'}, {'name': 'Perak', 'url': '/wiki/Perak'}, {'name': 'Perlis', 'url': '/wiki/Perlis'}, {'name': 'Penang', 'url': '/wiki/Penang'}, {'name': 'Selangor', 'url': '/wiki/Selangor'}, {'name': 'Terengganu', 'url': '/wiki/Terengganu'}, {'name': 'Sabah', 'url': '/wiki/Sabah'}, {'name': 'Sarawak', 'url': '/wiki/Sarawak'}, {'name': 'Kuala Lumpur', 'url': '/wiki/Kuala_Lumpur'}, {'name': 'Labuan', 'url': '/wiki/Labuan'}, {'name': 'Putrajaya', 'url': '/wiki/Putrajaya'}]

In [2]:
import requests
from bs4 import BeautifulSoup
import time

for url in urls:
    time.sleep(5)
    page = requests.get('https://en.wikipedia.org/' + url['url'])
    soup = BeautifulSoup(page.content, 'html.parser')
    url['geo'] = soup.find('span', {'class' :'geo'}).text
    print(url)

{'name': 'Johor', 'url': '/wiki/Johor', 'geo': '1.99083; 103.48278'}
{'name': 'Kedah', 'url': '/wiki/Kedah', 'geo': '6.12833; 100.36278'}
{'name': 'Kelantan', 'url': '/wiki/Kelantan', 'geo': '5.250; 102.000'}
{'name': 'Malacca', 'url': '/wiki/Malacca', 'geo': '2.200; 102.250'}
{'name': 'Negeri Sembilan', 'url': '/wiki/Negeri_Sembilan', 'geo': '2.750; 102.250'}
{'name': 'Pahang', 'url': '/wiki/Pahang', 'geo': '3.750; 102.500'}
{'name': 'Perak', 'url': '/wiki/Perak', 'geo': '4.750; 101.000'}
{'name': 'Perlis', 'url': '/wiki/Perlis', 'geo': '6.500; 100.250'}
{'name': 'Penang', 'url': '/wiki/Penang', 'geo': '5.40250; 100.36500'}
{'name': 'Selangor', 'url': '/wiki/Selangor', 'geo': '3.333; 101.500'}
{'name': 'Terengganu', 'url': '/wiki/Terengganu', 'geo': '4.750; 103.000'}
{'name': 'Sabah', 'url': '/wiki/Sabah', 'geo': '5.250; 117.000'}
{'name': 'Sarawak', 'url': '/wiki/Sarawak', 'geo': '2.800; 113.883'}
{'name': 'Kuala Lumpur', 'url': '/wiki/Kuala_Lumpur', 'geo': '3.14778; 101.69528'}
{'name': 'Labuan', 'url': '/wiki/Labuan', 'geo': '5.30000; 115.22000'}
{'name': 'Putrajaya', 'url': '/wiki/Putrajaya', 'geo': '2.93000; 101.69000'}

In [4]:
import pandas as pd

df = pd.DataFrame(urls)
df.head()

              name                    url                 geo
0            Johor            /wiki/Johor  1.99083; 103.48278
1            Kedah            /wiki/Kedah  6.12833; 100.36278
2         Kelantan         /wiki/Kelantan      5.250; 102.000
3          Malacca          /wiki/Malacca      2.200; 102.250
4  Negeri Sembilan  /wiki/Negeri_Sembilan      2.750; 102.250

In [5]:
df[['longitude', 'latitude']] = df['geo'].str.split('; ', 1, expand=True)
df = df.drop(['geo'], axis=1)
df.head()

              name                    url longitude   latitude
0            Johor            /wiki/Johor   1.99083  103.48278
1            Kedah            /wiki/Kedah   6.12833  100.36278
2         Kelantan         /wiki/Kelantan     5.250    102.000
3          Malacca          /wiki/Malacca     2.200    102.250
4  Negeri Sembilan  /wiki/Negeri_Sembilan     2.750    102.250

In [6]:
df.to_csv('states_coords.csv')