In [1]:
import pandas as pd

df = pd.read_csv("MYR_USD Historical Data.csv")
df.head()

           Date   Price    Open    High     Low Change %
0  Nov 03, 2021  0.2407  0.2408  0.2414  0.2406   -0.10%
1  Nov 02, 2021  0.2409  0.2410  0.2414  0.2410    0.05%
2  Nov 01, 2021  0.2408  0.2413  0.2414  0.2409   -0.24%
3  Oct 29, 2021  0.2414  0.2414  0.2416  0.2412    0.22%
4  Oct 28, 2021  0.2409  0.2409  0.2411  0.2402    0.10%

In [2]:
df.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Change %     object
dtype: object

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df.columns= df.columns.str.lower()

df.head()

        date   price    open    high     low change %
0 2021-11-03  0.2407  0.2408  0.2414  0.2406   -0.10%
1 2021-11-02  0.2409  0.2410  0.2414  0.2410    0.05%
2 2021-11-01  0.2408  0.2413  0.2414  0.2409   -0.24%
3 2021-10-29  0.2414  0.2414  0.2416  0.2412    0.22%
4 2021-10-28  0.2409  0.2409  0.2411  0.2402    0.10%

In [4]:
df.to_csv("myr_usd.csv", index=False)