In [1]:
import pandas as pd

df = pd.read_csv("MYR_USD Historical Data.csv")
df.head()

           Date   Price    Open    High     Low Change %
0  Oct 08, 2021  0.2392  0.2393  0.2393  0.2391    0.09%
1  Oct 07, 2021  0.2389  0.2391  0.2394  0.2390    0.03%
2  Oct 06, 2021  0.2390  0.2393  0.2394  0.2388   -0.14%
3  Oct 05, 2021  0.2393  0.2396  0.2397  0.2391   -0.06%
4  Oct 04, 2021  0.2395  0.2395  0.2398  0.2393    0.12%

In [2]:
df.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Change %     object
dtype: object

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df.columns= df.columns.str.lower()

df.head()

        date   price    open    high     low change %
0 2021-10-08  0.2392  0.2393  0.2393  0.2391    0.09%
1 2021-10-07  0.2389  0.2391  0.2394  0.2390    0.03%
2 2021-10-06  0.2390  0.2393  0.2394  0.2388   -0.14%
3 2021-10-05  0.2393  0.2396  0.2397  0.2391   -0.06%
4 2021-10-04  0.2395  0.2395  0.2398  0.2393    0.12%

In [4]:
df.to_csv("myr_usd.csv", index=False)