In [1]:
import pandas as pd

df = pd.read_csv("MYR_USD Historical Data.csv")
df.head()

           Date   Price    Open    High     Low Change %
0  Feb 21, 2022  0.2389  0.2387  0.2389  0.2387    0.04%
1  Feb 18, 2022  0.2388  0.2390  0.2391  0.2389    0.05%
2  Feb 17, 2022  0.2387  0.2391  0.2391  0.2388   -0.07%
3  Feb 16, 2022  0.2388  0.2391  0.2391  0.2387    0.00%
4  Feb 15, 2022  0.2388  0.2387  0.2389  0.2387    0.10%

In [2]:
df.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Change %     object
dtype: object

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df.columns= df.columns.str.lower()

df.head()

        date   price    open    high     low change %
0 2022-02-21  0.2389  0.2387  0.2389  0.2387    0.04%
1 2022-02-18  0.2388  0.2390  0.2391  0.2389    0.05%
2 2022-02-17  0.2387  0.2391  0.2391  0.2388   -0.07%
3 2022-02-16  0.2388  0.2391  0.2391  0.2387    0.00%
4 2022-02-15  0.2388  0.2387  0.2389  0.2387    0.10%

In [4]:
df.to_csv("myr_usd.csv", index=False)