In [1]:
import pandas as pd

df = pd.read_csv("MYR_USD Historical Data.csv")
df.head()

           Date   Price    Open    High     Low Change %
0  Dec 28, 2021  0.2390  0.2391  0.2391  0.2390    0.02%
1  Dec 27, 2021  0.2389  0.2382  0.2391  0.2382    0.31%
2  Dec 24, 2021  0.2382  0.2381  0.2385  0.2380    0.10%
3  Dec 23, 2021  0.2380  0.2375  0.2381  0.2375    0.31%
4  Dec 22, 2021  0.2373  0.2375  0.2378  0.2372   -0.12%

In [2]:
df.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Change %     object
dtype: object

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df.columns= df.columns.str.lower()

df.head()

        date   price    open    high     low change %
0 2021-12-28  0.2390  0.2391  0.2391  0.2390    0.02%
1 2021-12-27  0.2389  0.2382  0.2391  0.2382    0.31%
2 2021-12-24  0.2382  0.2381  0.2385  0.2380    0.10%
3 2021-12-23  0.2380  0.2375  0.2381  0.2375    0.31%
4 2021-12-22  0.2373  0.2375  0.2378  0.2372   -0.12%

In [4]:
df.to_csv("myr_usd.csv", index=False)