In [1]:
import pandas as pd

df = pd.read_csv("MYR_USD Historical Data.csv")
df.head()

           Date   Price    Open    High     Low Change %
0  Jan 17, 2022  0.2390  0.2391  0.2391  0.2387   -0.08%
1  Jan 14, 2022  0.2392  0.2395  0.2396  0.2387   -0.05%
2  Jan 13, 2022  0.2394  0.2395  0.2397  0.2392    0.24%
3  Jan 12, 2022  0.2388  0.2387  0.2394  0.2387    0.12%
4  Jan 11, 2022  0.2385  0.2380  0.2386  0.2380    0.21%

In [2]:
df.dtypes

Date         object
Price       float64
Open        float64
High        float64
Low         float64
Change %     object
dtype: object

In [3]:
df['Date'] = pd.to_datetime(df['Date'])
df.columns= df.columns.str.lower()

df.head()

        date   price    open    high     low change %
0 2022-01-17  0.2390  0.2391  0.2391  0.2387   -0.08%
1 2022-01-14  0.2392  0.2395  0.2396  0.2387   -0.05%
2 2022-01-13  0.2394  0.2395  0.2397  0.2392    0.24%
3 2022-01-12  0.2388  0.2387  0.2394  0.2387    0.12%
4 2022-01-11  0.2385  0.2380  0.2386  0.2380    0.21%

In [4]:
df.to_csv("myr_usd.csv", index=False)