Having imputed the csv in df_impute.ipynb, I now perform text preprocessing.

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("imputed_fmt_20-02-22.csv")
df.head()

,title,url,date
0,Set up independent audit panel to vet electora...,https://www.freemalaysiatoday.com/category/nat...,2022-02-16
1,Malaysian sentenced to death in Singapore lose...,https://www.freemalaysiatoday.com/category/nat...,2022-02-16
2,EC opens review of supplementary voter roll un...,https://www.freemalaysiatoday.com/category/nat...,2022-02-17
3,Court dismisses default judgment bid by Na’im ...,https://www.freemalaysiatoday.com/category/nat...,2022-02-16
4,Jewellery shop owner gives chase after robbery...,https://www.freemalaysiatoday.com/category/nat...,2022-02-17

First I remove all commas, because figures such as 1,000 are common in news headlines. Then, I tokenize the headlines and remove stop words.

In [3]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import re
import string

stop_words = set(stopwords.words('english'))

def clean_text(text):
    text = text.replace(',', '')
    text = " ".join(re.split('\W+', text))
    word_tokens = word_tokenize(text)


    filtered_sentence = []

    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]
    filtered_sentence = [item for item in filtered_sentence if not item.isdigit()]
            
    return (", ".join(filtered_sentence))

print(clean_text("This is a sample sentence, showing off the stop words filtration."))

sample, sentence, showing, stop, words, filtration

In [4]:
df['cleaned'] = df['title'].apply(clean_text)
df.head()

,title,url,date,cleaned
0,Set up independent audit panel to vet electora...,https://www.freemalaysiatoday.com/category/nat...,2022-02-16,"Set, independent, audit, panel, vet, electoral..."
1,Malaysian sentenced to death in Singapore lose...,https://www.freemalaysiatoday.com/category/nat...,2022-02-16,"Malaysian, sentenced, death, Singapore, loses,..."
2,EC opens review of supplementary voter roll un...,https://www.freemalaysiatoday.com/category/nat...,2022-02-17,"EC, opens, review, supplementary, voter, roll,..."
3,Court dismisses default judgment bid by Na’im ...,https://www.freemalaysiatoday.com/category/nat...,2022-02-16,"Court, dismisses, default, judgment, bid, Na, ..."
4,Jewellery shop owner gives chase after robbery...,https://www.freemalaysiatoday.com/category/nat...,2022-02-17,"Jewellery, shop, owner, gives, chase, robbery,..."

In [5]:
df = df.drop(['title', 'url'], axis = 1)
df.head()

         date                                            cleaned
0  2022-02-16  Set, independent, audit, panel, vet, electoral...
1  2022-02-16  Malaysian, sentenced, death, Singapore, loses,...
2  2022-02-17  EC, opens, review, supplementary, voter, roll,...
3  2022-02-16  Court, dismisses, default, judgment, bid, Na, ...
4  2022-02-17  Jewellery, shop, owner, gives, chase, robbery,...

In [6]:
df = df.groupby(['date'])['cleaned'].apply(lambda x: ','.join(x)).reset_index()
df['cleaned'] = df['cleaned'].apply(lambda x: x.split(","))
df.head()

         date                                            cleaned
0  2019-12-31  [PIA,  special,  flight,  brings,  home,  hund...
1  2020-01-01  [caught,  smoking,  eateries,  first,  day,  e...
2  2020-01-02  [Petition,  support,  Maszlee,  gets,  signatu...
3  2020-01-03  [one,  recognises,  Mavcom,  civil,  aviation,...
4  2020-01-04  [PH,  discuss,  PM,  handover,  says,  Syed,  ...

In [7]:
df.shape

(784, 2)

In [8]:
df.drop(index=df.index[0], 
        axis=0, 
        inplace=True)
df.head()

         date                                            cleaned
1  2020-01-01  [caught,  smoking,  eateries,  first,  day,  e...
2  2020-01-02  [Petition,  support,  Maszlee,  gets,  signatu...
3  2020-01-03  [one,  recognises,  Mavcom,  civil,  aviation,...
4  2020-01-04  [PH,  discuss,  PM,  handover,  says,  Syed,  ...
5  2020-01-05  [Umno,  make,  constitutional,  proposal,  say...

I want to create a word cloud, so I count the number of tokens. Then, I save to json.

In [9]:
from collections import Counter

df['counter'] = df['cleaned'].apply(lambda x: dict(Counter(x)))
df.head()

,date,cleaned,counter
1,2020-01-01,"[caught, smoking, eateries, first, day, e...","{'caught': 1, ' smoking': 1, ' eateries': 1, '..."
2,2020-01-02,"[Petition, support, Maszlee, gets, signatu...","{'Petition': 1, ' support': 1, ' Maszlee': 3, ..."
3,2020-01-03,"[one, recognises, Mavcom, civil, aviation,...","{'one': 1, ' recognises': 1, ' Mavcom': 1, ' c..."
4,2020-01-04,"[PH, discuss, PM, handover, says, Syed, ...","{'PH': 1, ' discuss': 1, ' PM': 2, ' handover'..."
5,2020-01-05,"[Umno, make, constitutional, proposal, say...","{'Umno': 1, ' make': 1, ' constitutional': 1, ..."

In [10]:
df = df.drop(['cleaned'], axis = 1)
df.head()

         date                                            counter
1  2020-01-01  {'caught': 1, ' smoking': 1, ' eateries': 1, '...
2  2020-01-02  {'Petition': 1, ' support': 1, ' Maszlee': 3, ...
3  2020-01-03  {'one': 1, ' recognises': 1, ' Mavcom': 1, ' c...
4  2020-01-04  {'PH': 1, ' discuss': 1, ' PM': 2, ' handover'...
5  2020-01-05  {'Umno': 1, ' make': 1, ' constitutional': 1, ...

In [11]:
df.tail()

           date                                            counter
779  2022-02-17  {'EC': 1, ' opens': 1, ' review': 2, ' supplem...
780  2022-02-18  {'Senior': 1, ' Goldman': 1, ' staff': 1, ' kn...
781  2022-02-19  {'Govt': 2, ' finances': 1, ' pretty': 1, ' ma...
782  2022-02-20  {'Johor': 1, ' election': 1, ' candidates': 1,...
783  2022-02-21  {'Loh': 3, ' gets': 3, ' High': 6, ' Court': 8...

In [12]:
df.to_json("preprocessed_fmt.json", orient='records')