In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("imputed_fmt_9-10-21.csv")
df.head()

,title,url,date
0,Rockets fired after Norlela’s attack on fellow...,https://www.freemalaysiatoday.com/category/nat...,2021-10-08
1,Tropicana wants back international school over...,https://www.freemalaysiatoday.com/category/nat...,2021-10-08
2,"I had nothing to do with UM board appointment,...",https://www.freemalaysiatoday.com/category/nat...,2021-10-08
3,"What miracles have you done, Penang DAP reps a...",https://www.freemalaysiatoday.com/category/nat...,2021-10-08
4,"Letter to governor sent when I was still CM, s...",https://www.freemalaysiatoday.com/category/nat...,2021-10-08

In [3]:
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
import re
import string

stop_words = set(stopwords.words('english'))

def clean_text(text):
    text = text.replace(',', '')
    text = " ".join(re.split('\W+', text))
    word_tokens = word_tokenize(text)
    filtered_sentence = [w for w in word_tokens if not w.lower() in stop_words]

    filtered_sentence = []

    for w in word_tokens:
        if w not in stop_words:
            filtered_sentence.append(w)
            
    return (", ".join(filtered_sentence))

print(clean_text("This is a sample sentence, showing off the stop words filtration."))

This, sample, sentence, showing, stop, words, filtration

In [4]:
df['cleaned'] = df['title'].apply(clean_text)
df.head()

,title,url,date,cleaned
0,Rockets fired after Norlela’s attack on fellow...,https://www.freemalaysiatoday.com/category/nat...,2021-10-08,"Rockets, fired, Norlela, attack, fellow, reps"
1,Tropicana wants back international school over...,https://www.freemalaysiatoday.com/category/nat...,2021-10-08,"Tropicana, wants, back, international, school,..."
2,"I had nothing to do with UM board appointment,...",https://www.freemalaysiatoday.com/category/nat...,2021-10-08,"I, nothing, UM, board, appointment, says, Azalina"
3,"What miracles have you done, Penang DAP reps a...",https://www.freemalaysiatoday.com/category/nat...,2021-10-08,"What, miracles, done, Penang, DAP, reps, asked"
4,"Letter to governor sent when I was still CM, s...",https://www.freemalaysiatoday.com/category/nat...,2021-10-08,"Letter, governor, sent, I, still, CM, says, Su..."

In [5]:
df = df.drop(['title', 'url'], axis = 1)
df.head()

         date                                            cleaned
0  2021-10-08      Rockets, fired, Norlela, attack, fellow, reps
1  2021-10-08  Tropicana, wants, back, international, school,...
2  2021-10-08  I, nothing, UM, board, appointment, says, Azalina
3  2021-10-08     What, miracles, done, Penang, DAP, reps, asked
4  2021-10-08  Letter, governor, sent, I, still, CM, says, Su...

In [6]:
# df['cleaned'] = df[['date','cleaned']].groupby(['date'])['cleaned'].transform(lambda x: ','.join(x))
# df[['date','cleaned']].drop_duplicates()
df = df.groupby(['date'])['cleaned'].apply(lambda x: ','.join(x)).reset_index()
df['cleaned'] = df['cleaned'].apply(lambda x: x.split(","))
df.head()

         date                                            cleaned
0  2019-12-31  [PIA,  special,  flight,  brings,  home,  hund...
1  2020-01-01  [160,  caught,  smoking,  eateries,  first,  d...
2  2020-01-02  [Petition,  support,  Maszlee,  gets,  100000,...
3  2020-01-03  [No,  one,  recognises,  Mavcom,  civil,  avia...
4  2020-01-04  [PH,  discuss,  PM,  handover,  says,  Syed,  ...

In [7]:
df.shape

(648, 2)

In [8]:
df.drop(index=df.index[0], 
        axis=0, 
        inplace=True)
df.head()

         date                                            cleaned
1  2020-01-01  [160,  caught,  smoking,  eateries,  first,  d...
2  2020-01-02  [Petition,  support,  Maszlee,  gets,  100000,...
3  2020-01-03  [No,  one,  recognises,  Mavcom,  civil,  avia...
4  2020-01-04  [PH,  discuss,  PM,  handover,  says,  Syed,  ...
5  2020-01-05  [Umno,  make,  constitutional,  proposal,  say...

In [9]:
from collections import Counter

df['counter'] = df['cleaned'].apply(lambda x: Counter(x))
df.head()

,date,cleaned,counter
1,2020-01-01,"[160, caught, smoking, eateries, first, d...","{'160': 1, ' caught': 1, ' smoking': 1, ' eate..."
2,2020-01-02,"[Petition, support, Maszlee, gets, 100000,...","{'Petition': 1, ' support': 1, ' Maszlee': 4, ..."
3,2020-01-03,"[No, one, recognises, Mavcom, civil, avia...","{'No': 1, ' one': 1, ' recognises': 1, ' Mavco..."
4,2020-01-04,"[PH, discuss, PM, handover, says, Syed, ...","{'PH': 1, ' discuss': 1, ' PM': 2, ' handover'..."
5,2020-01-05,"[Umno, make, constitutional, proposal, say...","{'Umno': 1, ' make': 1, ' constitutional': 1, ..."

In [10]:
df = df.drop(['cleaned'], axis = 1)
df.head()

         date                                            counter
1  2020-01-01  {'160': 1, ' caught': 1, ' smoking': 1, ' eate...
2  2020-01-02  {'Petition': 1, ' support': 1, ' Maszlee': 4, ...
3  2020-01-03  {'No': 1, ' one': 1, ' recognises': 1, ' Mavco...
4  2020-01-04  {'PH': 1, ' discuss': 1, ' PM': 2, ' handover'...
5  2020-01-05  {'Umno': 1, ' make': 1, ' constitutional': 1, ...

In [12]:
df.to_csv("preprocessed_fmt_9-10-21.csv")